
  <div class="container-fluid h-100 p-0 m-0">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col h-100">
        <div class="card text-black h-100">
          <div class="row g-0 h-100">
            <div class="col-12 col-md-6 d-flex align-items-center">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <h3>RukBooks</h3>
                </div>

                <div class="container p-4">
                  <div class="row text-center">
                      <div class="col-6 choice border-danger" [ngClass]="{'border-bottom':isLogin()}">
                          <a routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">Connexion</a>
                      </div>
                      <div class="col-6 choice border-danger" [ngClass]="{'border-bottom':!isLogin()}">
                          <a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Inscription</a>
                      </div>
                  </div>
                  <div class="row" >
                      <div class="card">
                          <div class="card-body">
                              <router-outlet></router-outlet>
                          </div>
                      </div>
                  </div>
                </div>



              </div>
            </div>
            <div class="d-none d-md-flex col-md-6 align-items-center justify-content-between gradient-custom-2">
                <h4 class="text-white text-center m-auto">RukBooks, study easily</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
